{% extends "base.html" %}
{% block title %}/{{ board_uri }}/ - {{ board_info.name }}{% endblock %}

{% block content %}
    <div class="boardBanner">
        <div class="boardTitle">/{{ board_uri }}/ - {{ board_info.name }}</div>
    </div>

    <hr>

    <form name="post" action="/{{ board_uri }}/" method="POST">
        <table class="postForm">
            <tbody>
                <tr>
                    <td class="postblock">Name</td>
                    <td><input type="text" name="name" placeholder="Anonymous" size="28"></td>
                </tr>
                <tr>
                    <td class="postblock">Subject</td>
                    <td>
                        <input type="text" name="subject" size="35">
                        <input type="submit" value="Post">
                    </td>
                </tr>
                <tr>
                    <td class="postblock">Comment</td>
                    <td><textarea name="com"></textarea></td>
                </tr>
            </tbody>
        </table>
    </form>

    <hr>

    <div class="board">
        {% for tid, thread in threads.items()|reverse %}
        <div class="thread" id="t{{ thread.op.id }}">
            <div class="postContainer opContainer" id="pc{{ thread.op.id }}">
                <div class="op" id="p{{ thread.op.id }}">
                    <div class="file" id="f{{ thread.op.id }}">
                        <div class="fileText">File: <a href="#">image.png</a> (150 KB)</div>
                        <a class="fileThumb" href="#">
                            <div>Изображение</div>
                        </a>
                    </div>
                    
                    <div class="postInfo desktop" id="pi{{ thread.op.id }}">
                        <span class="subject">{{ thread.subject }}</span>
                        <span class="name">{{ thread.op.name }}</span>
                        <span class="dateTime">{{ thread.timestamp }}</span>
                        <span class="postNum">
                            <a href="#p{{ thread.op.id }}">No.</a><a href="#p{{ thread.op.id }}">{{ thread.op.id }}</a>
                        </span>
                        <span>[<a href="/{{ board_uri }}/thread/{{ tid }}">Reply</a>]</span>
                    </div>
                    
                    <blockquote class="postMessage" id="m{{ thread.op.id }}">
                        {{ thread.op.comment|safe }}
                    </blockquote>
                </div>
            </div>

            <!-- Тут цикл для ответов (replies), если они есть -->
            {% for reply in thread.replies %}
            <div class="postContainer replyContainer" id="pc{{ reply.id }}">
                <div class="sideArrows" style="display: none;">&gt;&gt;</div>
                <div class="post reply" id="p{{ reply.id }}">
                    <div class="postInfo desktop" id="pi{{ reply.id }}">
                        <span class="name">{{ reply.name }}</span>
                        <span class="dateTime">{{ reply.timestamp }}</span>
                        <span class="postNum">
                            <a href="#p{{ reply.id }}">No.</a><a href="#p{{ reply.id }}">{{ reply.id }}</a>
                        </span>
                    </div>
                    <blockquote class="postMessage" id="m{{ reply.id }}">
                        {{ reply.comment|safe }}
                    </blockquote>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endfor %}
    </div>
{% endblock %}
