<hr>
    <div style="text-align:center; font-size: 12px; margin-bottom: 20px;">
        - AmberBoard v3.0 -
    </div>
    
    <!-- Скрипты грузятся в самом конце -->
    <script src="../app.js"></script>
</body>
</html>