<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AmberBoard - /b/</title>
    <!-- Путь к стилям из корня -->
    <link rel="stylesheet" href="../style.css"> 
</head>
<body>
    <!-- Тот самый градиентный топ-бар -->
    <div class="adminbar">
        <span>[ 
            <a href="/b/" title="Бред">b</a> / 
            <a href="/dev/" title="Разработка">dev</a> / 
            <a href="/druzhok/" title="Дружок">druzhok</a> 
        ]</span>
    </div>
    
    <div class="boardBanner">
        <div class="boardTitle">/b/ - Бред</div>
    </div>