{% include 'header.html' %}

<div style="text-align: center; margin-top: 50px;">
    <div class="boardBanner">
        <div class="boardTitle">Управление / Вход</div>
    </div>

    <!-- Каноничная табличная форма для логина -->
    <div class="postForm" style="display: inline-block; text-align: left;">
        <form action="{{ url_for('login') }}" method="POST">
            <table>
                <tbody>
                    <tr>
                        <td class="label">Пароль</td>
                        <td>
                            <input type="password" name="password" required autofocus>
                            <input type="submit" value="Login">
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    
    {% if error %}
        <div style="color: red; font-weight: bold; margin-top: 10px;">{{ error }}</div>
    {% endif %}

    <div style="margin-top: 20px;">
        [<a href="{{ url_for('board_view', board=board) }}">Назад к доске</a>]
    </div>
</div>

{% include 'footer.html' %}