{% extends "base.html" %}
{% block title %}Вход - AmberBoard{% endblock %}
{% block content %}
<center>
    <div class="post-form-container" style="max-width: 400px; margin-top: 50px;">
        <div class="form-header">Авторизация</div>
        <form method="POST">
            <table style="margin: 15px 0;">
                <tr>
                    <td class="label">Имя:</td>
                    <td><input type="text" name="username" required></td>
                </tr>
                <tr>
                    <td class="label">Пароль:</td>
                    <td><input type="password" name="password" required></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Войти"></td>
                </tr>
            </table>
        </form>
    </div>
    <p style="margin-top: 15px;">Еще нет аккаунта? <a href="/register">Зарегистрироваться</a></p>
</center>
{% endblock %}